{
  'branches': [{ 'name': 'main', 'prerelease': true }],
  'plugins':
    [
      [
        '@semantic-release/commit-analyzer',
        {
          'parserOpts':
            { 'noteKeywords': ['BREAKING CHANGE', 'BREAKING CHANGES'] },
        },
      ],
      '@semantic-release/release-notes-generator',
      '@semantic-release/git',
      [
        '@semantic-release/exec',
        {
          'prepareCmd': 'set-version ${nextRelease.version}',
          'publishCmd': '.github/publish.sh',
        },
      ],
    ],
}
